<div class="container">
      <h1>The leader of online courses in South India</h1>
      <mat-card>
        <h1>College Partners</h1>
        <ul>
          <li>
              Tirumala Engineering College, Narasaraopet
          </li>
          <li>
            Krishanveni Engineering College, Narasaraopet
          </li>
          <li>
            Eswar Engineering college, Narasaraopet
          </li>
          <li>
            CR Engineering college, Chilakaluripet
          </li>
        </ul>
      </mat-card>
      <mat-card>
          <h1>Company Partners</h1>
          <p>We are in talks with big companies such as Wipro, TCS, IBM for direct recruitment of Students</p>
      </mat-card>

</div>