@import '../../../styles-variables';
.entry {
  margin-top: 40px;
  margin-bottom: 40px;
}

.icon-api {
  background-image: url('../../../assets/ico/ai.png');
  background-position: center center;
}
.icon-ai {
  background-image: url('../../../assets/ico/ai.png');
  background-position: center center;
}
.icon-web {
  background-image: url('../../../assets/ico/web.png');
  background-position: center center;
}
.icon-soft {
  background-image: url('../../../assets/ico/soft.png');
  background-position: center center;
}
.icon-adv-tech {
  background-image: url('../../../assets/ico/adv-tech.png');
  background-position: center center;
}
.icon-iot {
  background-image: url('../../../assets/ico/iot.png');
  background-position: center center;
}

.content-section-a {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.content-section-b {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  border-top: 3px solid #e7e7e7;
  width: 200px;
  float: left;
}

.banner {
  padding: 100px 0;
  //  color: #f8f8f8;
  //  background: url("../../../assets/banner-bg.jpg") no-repeat center center ;

  //  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}
.navbar-nav > li > a {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.navbar {
  min-height: 64px !important;
}
/*  Bootstrap Clearfix */

.background {
  padding: 1px 0 0 0;
  position: relative;

  .actions {
    text-align: center;
    margin: 50px;
    z-index: 1;

    span {
      display: inline-block;
      font-weight: bold;
      padding: 20px 10px 30px 10px;
    }

    a {
      margin: 0 5px 10px 0;

      &.actions-main {
        text-transform: uppercase;
        padding: 3px 24px;
      }

      mat-icon {
        position: relative;
        top: 4px;
      }
    }
  }

  .get-started {
    max-width: 700px;
    margin: 50px auto;
    letter-spacing: 0.01px;
    overflow-wrap: break-word;
    z-index: 1;
    overflow: hidden;

    code {
      font-size: 0.9em;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 0 10px 0;
    }
    img {
      display: block;
      max-width: 80%;
      margin: 20px auto 0 auto;
      border-radius: 5px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }

  &::before {
    position: fixed;
    top: 100;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/banner-bg.jpg') no-repeat center center;
    background-size: cover;
    // background-position: center top;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: 0;
    }
  }

  .container {
    position: relative;
  }
}

.divbg {
  opacity: 0.8;
  background: linear-gradient(to bottom, #b290ff, #2e1d65);
  transition: opacity 300ms linear;
}
.innerdiv {
  opacity: 1;
  transition: opacity 300ms linear;
}
