<!-- <div class="container">
    <div class="row">



        <div class="col-md-10">
          <h2>We are leaders in South India in online trainings</h2>
          <p>
            Training in an entirely new way. Student will get maximum returns on the time he or she spends. 
          </p>
          <h2>Fool proof formula</h2>
          <p>
            Students get credits depending on their performance on tasks only. 
          </p>
          <h2>The best and unique way of training</h2>
          <p>You can test yourself- If you feel don't get maximum benefits we will give entire money you have deposited with us.</p>
          <h2>The perfect tool for learning- ASDP</h2>
          <p>You may come across lot of online trainings. But the best stop is this one.</p>
          <h2>Two way traffic</h2>
          <p>All online traings are one way interaction. But uniqueness of our system is it's two way. 
            Without a guide intervention, we don't allow a student to submit his or her task</p>
          <br>
        </div>




      </div>
</div> -->

<div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
    <mat-card>
      <mat-card-title>We the Leaders In South India in Online Trainings</mat-card-title>
      <mat-card-subtitle>
        Why don't you become part of it?
      </mat-card-subtitle>
      <mat-card-content>
       
                    <p class="lead">With thousands of Engineering students registered and hundreds of students already completed more than 10 tasks. It's just a matter of time to become Leader in online trainings in entire India.                  </p>
                    
      </mat-card-content>


      <!-- <mat-card-actions>
        <a mat-icon-button href="https://github.com/angular/angular" target="_blank">
          <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
        </a>
        <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
          <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
          {{ 'anms.features.documentation' | translate }}
        </a>
      </mat-card-actions> -->
    </mat-card>
  </div>
  <h1>Why so much rush?</h1>
  <p>Because... It is a promising technique and Student is getting attached to the each chapter in a course. It creates entusiasm. The guides with their presense online 24/7 make sure student get most out of it with thier clever tasks and quizzes.</p>
  <h1>Want to become partner!!!</h1>
  <p>You can become partner by simply writing to us at ab@ameyem.com. We are looking for the partners who can join the hands with us in this Maha Yagna...</p>
  <h1>Want to provide courses as teacher and earn money???</h1>
  <p>Yes we are here for the same. Get in touch with us. We are more than happy to welcome you on board</p>
  <p>Register as a teacher on <a mat-button href="https://ameyem.com/asdp" target="_blank" >
      ASDP Login  </a> </p>

            <div class="container divbg">
                  <div class="innerdiv col-sm-text-small col-lg-12 col-md-12 col-xs-12">
                    <!-- <h1><a href="bookslot/slot.html">Data Entry Operator Slot Booking</a></h1> -->
                    
                    <h1>We The Leaders In South India in Online Trainings</h1>
                    <p class="lead">With thousands of Engineering students registered and hundreds of students already completed more than 10 tasks. It's just a matter of time to become Leader in online trainings in entire India.                  </p>
                    <h1>Why so much rush?</h1>
                    <p>Because... It is a promising technique and Student is getting attached to the each chapter in a course. It creates entusiasm. The guides with their presense online 24/7 make sure student get most out of it with thier clever tasks and quizzes.</p>
                    <h1>Want to become partner!!!</h1>
                    <p>You can become partner by simply writing to us at ab@ameyem.com. We are looking for the partners who can join the hands with us in this Maha Yagna...</p>
                    <h1>Want to provide courses as teacher and earn money???</h1>
                    <p>Yes we are here for the same. Get in touch with us. We are more than happy to welcome you on board</p>
                    <p>Register as a teacher on <a mat-button href="https://ameyem.com/asdp"
                        target="_blank"
                        >
                        ASDP Login
                      </a> </p>
                </div>
            </div>

    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
             <!-- <div id="top"></div> -->
<!-- ******************** HeaderWrap ********************-->


        <div class="container">
          <div class="row">
              <div  class="col-lg-6 col-md-6 col-sm-12">
                <div class="center gap">
                  <h2 style="color: #AfAfAf;justify-content: center;" >Do you want us to get back to you.</h2>
                  <b > Be with us</b> 
                </div>
              </div>

          </div>
        </div>























<section id="skills">

    <div class="container ">
            <div class="box first">
              <div class="center">
                <h2>Skills</h2>
              </div>
                
    <div class="row">
        <section class="col-xs-12 col-sm-offset-0 col-sm-6 col-md-4 col-lg-12">
        
        <div class="row ">
          <div class="col-lg-1 col-lg-offset-3 center icon-center">
              <i class="icon-soft icon-md icon-color1"></i>
  
          </div>
        <div class="col-lg-5">
  
            
                              <h4>Software development</h4>
                              <p>Programming languages- Java, Advance Java, C, C++, C#, Python, and Matlab. Without a knowledge on IDEs and the Software development concepts there is no training on software development. Finally a fullfledged project.</p>
        </div>
        </div>
      </section>
      <section class="col-xs-12 col-sm-offset-0 col-sm-6 col-md-4 col-lg-12">
        
        <div class="row ">
          <div class="col-lg-1 col-lg-offset-3 center icon-center">
        <i class="icon-web icon-md icon-color3"></i>
        </div>
        <div class="col-lg-5">
  
        
                              <h4>Web development</h4>
                              <p>Masters in webdevelopment teaches on concepts of web development and trains front end back end development through guidance and tasks assignments. HTML5, CSS3, Bootstrap, Javascript, PHP, JQuery etc. are in pipeline</p>
        </div>
        </div>
      </section>
 
      <section class="col-xs-12 col-sm-offset-0 col-sm-6 col-md-4 col-lg-12">
        
        <div class="row ">
          <div class="col-lg-1 col-lg-offset-3 center icon-center">

        <i class="icon-adv-tech icon-md icon-color6"></i>
        </div>
        <div class="col-lg-5">
  
        
                              <h4>Advance Technologies</h4>
                              <p>Bigdata, Hadoop, Data analytics and cloud computing are the buzz words of companies and candidates now a days. You will receive world class training at Ameyem on each advanced topic of the day. You will be carried with the latest technologies</p>
        </div>
        </div>
      </section>
      <!--  -->
  <section class="col-xs-12 col-sm-6  col-md-4 col-lg-12">
        
        <div class="row ">
          <div class="col-lg-1 col-lg-offset-3 center icon-center">
        <i class="icon-iot icon-md icon-color5"></i>
        </div>
        <div class="col-lg-5">
  
        
                              <h4>Electronics and Internet of Things</h4>
                              <p>There is full-fledged Electronics lab exists with ameyem and candidates who learns online will be asked to experiment on not so expensive components. Hands on on the basic Electronic components and sensors and the latest developments in IoT will be the subjects </p>
        </div>
        </div>
      </section>
  
      <section class="col-xs-12 col-sm-offset-0 col-sm-6 col-md-4 col-lg-12 ">
        
        <div class="row ">
          <div class="col-lg-1 col-lg-offset-3 center icon-center">
        <i class="icon-android icon-md icon-color2"></i>
        </div>
        <div class="col-lg-5">
  
        
                              <h4>Mobile app development</h4>
                              <p>Android applications development along with the latest technologies. Apps based on net connectivity, Restfull APIs and Map functions along with app design and marketing aspects.</p>
        </div>
        </div>
      </section>
  
      <section class="col-xs-12 col-sm-offset-0 col-sm-6 col-md-4 col-lg-12">
        
        <div class="row ">
          <div class="col-lg-1 col-lg-offset-3 center icon-center">
        <i class="icon-ai icon-md icon-color1"></i>
        </div>
        <div class="col-lg-5">
  
        <h4>Artificial Intelligence and Machine Learning</h4>
                              <p>Do you know Artificial Intelligence taking away most of the jobs? But at the same time it offers infinite chance to play with it. Do you take on AI? More at this website to know about AI.</p>
        </div>
        </div>
      </section>   
    </div><!-- row -->   
  </div><!-- box -->
  </div><!-- content container -->
  </section>





  
  <section id="benefits">
          <div class="container">
              <div class="box">
                  <div class="center gap">
                      <h2>Why Us</h2>
                      <p class="lead">You might be thinking that, there are several online learning sites and several institues who give teachings present. What's so different about us and why you should turn to us? Here it is...</p>
                  </div><!--/.center-->
              </div>
          </div>
  
  <div class="container">
  
   <div class="box first">
  <div class="content-section-a">
  
          <!-- <div class="container"> -->
          
  
                  <div class="row">
                      <div class="col-lg-5 col-sm-6">
                          <!-- <hr class="section-heading-spacer"> -->
                          <!-- <div class="clearfix"></div> -->
                          <h2 class="section-heading">Individual Specific planning</h2>
                              <!-- <br>Special Thanks</h2> -->
                          <p class="lead">The needs of each individual understood before making skill learning plan. Skill gaps will be identified and optimistic plan for quick learning will be laid out 
                          <!-- <a target="_blank" href="http://join.deathtothestockphoto.com/">More at this website</a> -->
                           </p>
                      </div>
                      <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                      <!-- <hr class="section-heading-spacer"> -->
                          <img class="img-responsive" src="../../../assets/AI-ML2.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
          <!-- /.container -->
  </div>
      <!-- /.content-section-a -->
      <div class="container">
       <div class="box first">
          <div class="content-section-b">       
                  
                  <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <!-- <hr class="section-heading-spacer"> -->
                          <!-- <div class="clearfix"></div> -->
                          <h2 class="section-heading">You will never the same again
                              <br></h2>
                          <p class="lead">You can see unbelievable progress you could ever imagined. The secret lies in the formula itself. It's no class room oriented but effective. To know <a target="_blank" href="http://www.skills.ameyem.com/asdp">Why is it so</a> ?. And the Credit score system is only to accelerate your learning</p> 
                      </div>
                      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                          <!-- <hr class="section-heading-spacer"> --> 
                          <img class="img-responsive" src="../../../assets/jumping on a beach.jpg" alt="">
                      </div>
                  </div>
          </div>
  
       </div>
          <!-- /.container -->
      </div>
      <!-- /.content-section-b -->
      <div class="container">
          <div class="box first">
           <div class="content-section-a">        
              <!-- <div class="box first"> -->
              <div class="row">
                  <div class="col-lg-5 col-sm-6">
                      <!-- <hr class="section-heading-spacer"> -->
                      <!-- <div class="clearfix"></div> -->
                      <h2 class="section-heading">Guides and Reviewers
                          <br>Step ahead tasks</h2>
                      <p class="lead">Understanding what you learn and how you deal with a task will help the Guide, who is expert in field to systhesize a specific task for your skill level. S/He decides where to start and where to end. All the resources required such as notes, links and source files will be provided</p>
                  </div>
                  <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                  <!-- <hr class="section-heading-spacer"> --> 
                      <img class="img-responsive  center-block" src="../../../assets/steps-training.png" alt="">
                  </div>
              </div>
           </div>
           <!-- /.content-section-a -->
          </div>        
      </div>
      <!-- /.container -->
      
  
  <div class="container">
  <div class="box first">
      <div class="content-section-b">       
              
              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <!-- <hr class="section-heading-spacer"> -->
                      <!-- <div class="clearfix"></div> -->
                      <h2 class="section-heading">Is it all?
                          <br></h2>
                      <p class="lead">Not at all. There's a progress bar and the live graph of how your skills are improving day by day... Wonna try? It's free for next 14 days..  <a target="_blank" href="http://www.skills.ameyem.com/registration/register.php">Register</a> today itself..</p> 
                      <hr class="section-heading-spacer"> 
                      <h3>Free trail for 14 days..</h3>
                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="../../../assets/doggy.jpg" alt="">
                  </div>
              </div>
      </div>
  
  </div>      
  </div>
   <!-- /.container -->
  </section>
  